<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZHZhihuNews.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9812A10A1D2378BE00196159</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9812A11E1D2378BE00196159</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9812A1291D2378BE00196159</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
